[submodule "external/bakery"]
	path = external/bakery
	url = git://github.com/lloyd/bakery
[submodule "external/bp-service-framework"]
	path = external/bp-service-framework
	url = git://github.com/browserplus/bp-service-framework
[submodule "external/bp-file"]
	path = external/bp-file
	url = git://github.com/browserplus/bp-file
